body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
}

#account-creation, #transfer-money, #account-list {
    margin: 20px 0;
}

input {
    margin: 5px;
}
