body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h2 {
    text-align: center;
}

input {
    margin: 5px;
    display: block;
}

button {
    margin: 10px 0;
    display: block;
}

#login-page, #signup-page, #bank-page {
    max-width: 300px;
    margin: 0 auto;
}
